

/* line 3, ../sass/application.sass */
html, body {
  height: 100%;
  width: 100%;
  overflow: scroll;
  margin: 0;
  padding: 0;
}

/* line 10, ../sass/application.sass */


/* line 22, ../sass/application.sass */
.login {
  font-size: 1.5em;
  float: right;
  color: white;
}

/* line 27, ../sass/application.sass */
.faker-header {
  font-size: 2em;
  font-family: Lucida Grande;
  font-weight: bold;
  padding: 20px;
  color: white;
  background-color: #3B5998;
}

/* line 39, ../sass/application.sass */
.new-users {
  top: 110px;
  left: 700px;
  color: black;
}
