<header>
    <section class="name">faker facebook</section>
    <div class="login">
        <%= render 'layouts/login' %>
    </div>
</header>
<section class="newUsers">
    <div>
        <%= render 'layouts/new_users' %>
    </div>
</section>
