<div class="row faker-header">
    <div class="col-md-6 name pull-left">faker facebook</div>
    <div class="col-md-6 pull-right">
        <login ></login>
    </div>
</div>
<div class="row">
    <new-users class="pull-right"></new-users>
</div>
