<header>
    <section class="name">faker facebook</section>
    <div class="login">
        <login></login>
    </div>
</header>
<section class="">
    <div>
        <new-users></new-users>
    </div>
</section>
