<form>
  <p>Create an account<br>
  It's free and always will be.</p>
  <input type="text" name="First Name" value="First Name">

  <input type="text" name="Sirname" value="Sirname">
  <br>
  <input type="text" name="Phone number" size=44 value="Phone Number">
  <br>
  <input type="text" name="Re-enter Phone number" size=44 value="Re-enter Phone Number">
  <br>
  <input type="password" data-type="text" name="Password" size=44 value="Password">
  <br>
  <input type="submit" value="Create an Account">
</form>

