<!DOCTYPE html>
<html>
  <head>
    <title>Faker Facebook</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body ng-app="fakerApp" ng-controller="MainCont">

    <div style="float:right">
      <%= render 'layouts/login' %>
    </div>
    
    <h1>Hi</h1>
    <div>
      {{facebook}}
    </div>
  </body>
</html>
